@import url(boilerplate.css);

/* =============================================================================
   Primary styles
   Author: Awesome Ness Awesome
   ========================================================================== */

body { position:absolute; background-color:black; height:100%; width: 100%; }
#page_1 { position:relative; margin-left:auto; margin-right:auto; width:960px; background-color:white; height:100%; }
#branding_1 {width: 960px;
height: 100px;  background-color: blue;}
#branding_1 .text { position: absolute;
 	left: 120px;
 	top: 50px; }
#branding_1 img {  }
#text_2 { position: absolute;
 	left: 10px;
 	top: 110px; }
#text_3 { position: absolute;
 	left: 10px;
 	top: 130px; }
#text_4 { position: absolute;
 	top: 600px; }
.resultlist { position: absolute;
 	left: 10px;
 	top: 160px; }
.resultlist .item { position:absolute; left:30px; width: 800px;
height: 130px; border: solid black 1px; }
.resultlist .item .picture { position:absolute;  }
.resultlist .item .price { position:absolute; right:5px; top:5px; }
.resultlist .item .price .value { font-size: 150%; color: #cc0000; }
.resultlist .item .description { position:absolute; left:110px; top:25px; }
.resultlist .item .picture { position:absolute; left:5px; top:25px; }

h1,h2,h3,h4,h5,p {margin-top: 0; margin-bottom: 0;}

